---
layout: default
sidebar: false
title: "Uups, somebody stole this page form the Internet"
comments: false
sharing: false
---

%article(role='article')
  %header
    %h1 Uups, somebody stole this page form the Internet

  %blockquote
    %p So what now?

  %p
    %ul
      %li
        Try to
        %a#lost-in-time-and-want-to-search{:href => ''}search what you're after
      %li
        or just head over to
        %a{:href=>'/'}the home page
        ,I guess.
  %p
    Also
    %strong
      please
      %a#lost-in-time-and-report{:href => "mailto:d@ApproachE.com?subject=Missing page&body=It looks like this page is missing:  "}let me know
    about this missing page and I might be able to find it from a hidden
    corner of the Internet.

:javascript
  $.domReady(function(){
    $("#lost-in-time-and-want-to-search").attr('href',
      $('nav form').attr('action') + "?" +
        "q=" + encodeURI(
          location.pathname.replace(/\W+/i, ' ')
          + ' '
          + $("nav form input[name=q][type=hidden]").first().val()
        )
    );
    var x = $("#lost-in-time-and-report");
    x.attr('href', x.attr('href') + location.href);
  });
