// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// TODO: Kill this off when fixed
#content {
  // content has overflow: visible which collapses the content to 0
  // thus we need some height set
  min-height: 25000px;
}

body > header {
  display: none;
}

body > footer {
  // Rounded
  border-radius: 0 0 1em 1em;
}


h1, h2, h3, h4 {
  color: $title-color !important;
}

#main {
  border-radius: 1em 1em 0 0;
  border-top: 1px solid  $text-color;
  border-left: 1px solid  $text-color;
  border-right: 1px solid  $text-color;
  padding-top: 1em;
}

.main-navigation {
  li {
    background-color: $main-bg;
    border: 0;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0 3em 0 3em !important;
    border: 1px solid  $text-color;
    a { 
      padding: 0;
      margin: 0;
      text-align: center;
      border: 0;
    }
  }
}

article {
  padding-top: 0;
}

#blog-archives,
#blog-archives a.category, #blog-archives time {
  color: $text-color;
}

body > footer {
  margin: 0;
  font-size: 0.7em;
}
